<div class="post">
    <div class="header">
        <h1>Заголовок</h1>
        <button 
          routerLink="/" 
          class="btn btn-link">Повернутися на головну</button>
    </div>
    <div class="info">
        <strong>Тут автор</strong>
        <small>12.12.2019</small>
    </div>
    <div>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam magni quaerat officia consectetur hic est alias magnam ex fuga cupiditate nihil sunt minus beatae, dolores possimus accusamus laboriosam quos totam.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam magni quaerat officia consectetur hic est alias magnam ex fuga cupiditate nihil sunt minus beatae, dolores possimus accusamus laboriosam quos totam.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam magni quaerat officia consectetur hic est alias magnam ex fuga cupiditate nihil sunt minus beatae, dolores possimus accusamus laboriosam quos totam.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam magni quaerat officia consectetur hic est alias magnam ex fuga cupiditate nihil sunt minus beatae, dolores possimus accusamus laboriosam quos totam.</p>
    </div>
</div>
